
# input files. can specify directory or file, multi files/directories can be set by separating with space character.
InputFiles: ".."

# input file name pattern by regular expression
InputPattern: \.xlsx$

# exclude patten for input file
ExcludeInputPattern: ^~

# version list file. default: versions.txt
VersionList: versions.txt

# current version string. (no default value)
CurrentVersion: v1.0.1

# output directory
OutputDir: ./Output

# new line code of output text(cr, lf, crlf)
NewLine: lf

# output format(csv, tsv)
TextFormat: tsv

# output control column (first column)
OutputControlColumn: false

# output tag string for column name
OutputColumnNameTag: "##"

# output tag string for comment
OutputCommentTag: "#"

# string that indicates comment line
CommentStartsWith: "#"

# tag string in spread sheet for table name
TableNameTag: "[NAME]"

# tag string in spread sheet for column name
ColumnNameTag: "[COLUMN]"

# tag string in spread sheet for column control
ColumnControlTag: "[CONTROL]"

